.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name 太郎
        %ul.side-header__box__menu
          %li.side-header__box__menu__create-group
            %a{:href => "#"}
              %i.fa.fa-edit
          %li.side-header__box__menu__edit-user
            %a{:href => "#"}
              %i.fa.fa-cog
    .groups
      %a{:href => "#"}
        .group
          %p.group__group-name 1
          %p.group__last-remark おはよう
